mixin planCell(checked)
	- const answer = checked ? 'yes' : 'no'

	td.plan-cell(class='plan-cell--' + answer)
		.-D-vh= answer

mixin svgIcon(w, h, name, classStr = '', attrs = {}, sprite = 'img/sprite.svg')
	svg(class=classStr width=w+'' height=h+'')&attributes(attrs)
		use(xlink:href=`${sprite}#icon-${name}`)
